{% load i18n %}
  <header class="p-header l-header">
    <div class="l-header__logo">
      <h1 class="
        {% if compact %}
          p-header--compact__logo
        {% else %}
          p-header__logo
        {% endif %}
      ">
        <a href="{% url 'pages:index' %}" title="">Clousel</a>
      </h1>
    </div>
    <nav class="
      {% if compact %}
        p-header--compact__nav
      {% else %}
        p-header__nav
      {% endif %}
    ">
      <ul>
        <li><a href="#" title="{% trans 'About us' %}">{% trans "About us" %}</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}" title="{% trans 'Log out' %}">{% trans 'Log out' %}</a></li>
        {% else %}
          <li><a href="{% url 'auth_login' %}" title="{% trans 'Log in' %}">{% trans 'Log in' %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>