{% load i18n %}
{% if compact %}
  <header class="p-header p-header--compact l-header">
{% else %}
  <header class="p-header l-header">
{% endif %}
    <div class="l-header__logo">
      <h1 class="p-header__logo p-header--compact__logo">
        <a href="{% url 'pages:index' %}" title="">Clousel</a>
      </h1>
    </div>
{% if compact %}
    <nav class="p-header__nav p-header--compact__nav">
{% else %}
    <nav class="p-header__nav">
{% endif %}
      <ul>
        <li><a href="#" title="{% trans 'About us' %}">{% trans "About us" %}</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}" title="{% trans 'Log out' %}">{% trans 'Log out' %}</a></li>
        {% else %}
          <li><a href="{% url 'auth_login' %}" title="{% trans 'Log in' %}">{% trans 'Log in' %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>