{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ user_item.title }} | {{ site.name }}{% endblock title %}

{% block extrahead %}{% endblock extrahead %}

{% block header %}
  {% include "includes/header.html" with compact=True %}
{% endblock header %}

{% block breadcrumbs %}
  {% include "wardrobe/includes/breadcrumbs-detail.html" %}
{% endblock %}

{% block content %}
  <div class="p-detail-header">
    <h2 class="p-detail-header__title">
      {{ user_item.title }}
      <span class="p-detail-header__category">[{{ user_item.category|stringformat:'r' }}]</span>
    </h2>
  </div>
  <div class="p-user-item-detail">
    <div class="p-user-item-detail__image">
      <img src="{{ user_item.image.url }}" />
    </div>
    <div class="p-user-item-detail__content">
      <ul class="p-user-item-detail__actions">
        <li class="p-user-item-detail__action"><a href="{% url 'wardrobe:similar' pk=user_item.pk %}" title="{% trans 'Find similar items' %}">
          {% trans 'Find similar items' %}
        </a></li>
        <li class="p-user-item-detail__action"><a href="{% url 'wardrobe:suitable' pk=user_item.pk %}" title="{% trans 'Find suitable items' %}">
          {% trans 'Find suitable items' %}
        </a></li>
        <li class="p-user-item-detail__action--weak"><a href="{% url 'wardrobe:edit' pk=user_item.pk %}" title="{% trans 'Edit this item' %}"><i class="p-user-item-detail__edit-icon"></i></a></li>
        <li class="p-user-item-detail__action--weak"><a class="js-modal--open" data-modal="js-item-delete-modal" href="#" title="{% trans 'Delete this item' %}"><i class="p-user-item-detail__delete-icon"></i></a></li>
      </ul>
    </div>
  </div>
  {% include "wardrobe/includes/modal-delete-item.html" %}
{% endblock content %}

{% block footer %}{% endblock footer %}
