{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Upload' %} | {{ site.name }}{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
  {% include "includes/header.html" with compact=True %}
{% endblock header %}

{% block breadcrumbs %}
  {% include "wardrobe/includes/breadcrumbs-upload.html" %}
{% endblock %}

{% block content %}
  <section class="p-formset--upload">
    <div class="p-formset__header">
      <p>
          {% blocktrans %}
          Please rest assured, you are the only one who can see your image.
          {% endblocktrans %}
      </p>
    </div>
    <form class="p-formset--upload__form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="p-formset--upload__table">
        <caption>Upload</caption>
        <tbody>
          {% include "includes/form_as_table.html" with form=form %}
        </tbody>
      </table>
      <input type="submit" value="{% trans 'Upload' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </section>
{% endblock content %}

{% block footer %}{% endblock footer %}
