{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:300|Quicksand:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/common.css' %}">

  {% block extrahead %}{% endblock %}
</head>

<body>
  <div id="p-st__container" class="p-st__container">
     <div class="p-st__pusher">
        {% include "includes/nav.html" %}
        <div class="p-st__content">
           <div class="p-st__content-inner">
              {% block header %}{% endblock %}
              <div class="p-breadcrumbs">
                {% block breadcrumbs %}{% endblock %}
              </div>
              <main class="l-main">
                {% block content %}{% endblock %}
              </main>
              {% block footer %}{% endblock %}
           </div>
        </div>
     </div>
  </div>

  <script type="text/javascript" src="{% static 'lib/st/modernizr.custom.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/st/classie.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/st/sidebarEffects.js' %}"></script>
</body>
</html>