=icon($variable, $size)
    &:after
        font-style: normal
        line-height: $size
        font-size: $size
        font-family: $icon-font-family
        content: $variable
        @content


=block-icon($variable, $size)
    display: block
    height: $size
    width: $size
    +icon($variable, $size)
        @content
