/*
 *  ICON
 *    - Inline Icon
 *    - Block Icon
 *    - Animation
 *
 *    * Dependencies
 *        - compass/css3
 *        - ceaser-easing
 */



/*  Preferences
   ---------------------------------------- */
$c-icon-font-family: sans-serif !default



/*  Inline Icon
   ---------------------------------------- */
=icon-minimal($variable)
    font-family: $c-icon-font-family
    content: $variable

=icon-with-height($variable, $size, $height)
    &:after
        +icon-minimal($variable)
        font-style: normal
        line-height: $height
        font-size: $size
        vertical-align: middle
        @content

=icon($variable, $size)
    +icon-with-height($variable, $size, $size)
        @content



/*  Block Icon
   ---------------------------------------- */
=block-icon-with-height($variable, $size, $height)
    display: block
    height: $height
    width: $size
    +icon-with-height($variable, $size, $height)
        @content

=block-icon($variable, $size)
    +block-icon-with-height($variable, $size, $size)
        @content



/*  Animation
   ---------------------------------------- */
=spin
    -webkit-animation: spin 2s infinite ceaser($easeOutCubic)
    animation: spin 2s infinite ceaser($easeOutCubic)

=pulse
    -webkit-animation: spin 1s infinite steps(10)
    animation: spin 1s infinite steps(10)

+keyframes(spin)
    0%
        +transform(rotate(0deg))

    100%
        +transform(rotate(359deg))
