/*
 *  PREFERENCES FOR COMPONENTS
 */



/*  Breadcrumbs
   ---------------------------------------- */
$breadcrumbs-margin-bottom: $vertical-span
$breadcrumbs-separator-color: $gray
$breadcrumbs-separator-font-family: $icon-font-family
$breadcrumbs-separator-content: $icon-angle-right
$breadcrumbs-current-color: $black



/*  Form
   ---------------------------------------- */

/* ----- Select ----- */
$select-height: 24px
$select-padding-tb: 2px
$select-padding-lr: 1em

$select-border-color: $light-gray
$select-background: $white
$select-font-color: $black

$select-arrow-right-position: 5px
$select-arrow-font-family: $icon-font-family
$select-arrow-font-size: 12px
$select-arrow-color: $accent-color
$select-arrow-content: $icon-select-caret

$select-radius: $radius/2



/*  Icon
   ---------------------------------------- */
$c-icon-font-family: $icon-font-family



/*  Modal
   ---------------------------------------- */
$modal-width: calc_width(6)
$modal-height: auto
$modal-margin: 0 $horizontal-span
$modal-top: 10vh
$modal-zindex: $index--modal
$modal-bg-color: $white

$modal-overlay-zindex: $index--modal-overlay
$modal-overlay-color: $overlay-color
$modal-transition-duration: .3s



/*  Pagination
   ---------------------------------------- */
$pagination-margin: $default-gap
$pagination-padding: $half-gap
$pagination-radius: $radius
$pagination-font-color: $black
$pagination-bg-color: $light-gray
$pagination-font-color--active: $white
$pagination-bg-color--active: $accent-color
$pagination-break-me-padding: 0
$pagination-break-me-radius: 0
$pagination-break-me-font-color: $black
$pagination-break-me-bg-color: transparent
$pagination-mobile-breakpoint: $screen--smartphone
$pagination-mobile-margin: $half-gap



/*  Show all
   ---------------------------------------- */
$showall-align: right
$showall-line-height: 25px
$showall-icon-font-size: 20px
$showall-icon-color: $accent-color
// $showall-icon-content:
$showall-icon-left-content: ""
$showall-icon-right-content: $icon-look
$showall-icon-margin: .5em



/*  Sidebar
   ---------------------------------------- */
$sb-menu-index: $index--sidebar-menu
$sb-menu-width: calc_width(4)
$sb-menu-background: $white
$sb-overlay-zindex: $index--sidebar-overlay
$sb-overlay-color: $overlay-color
$sb-transition-duration: .5s
$sb-transition-function: ceaser($easeInOutCubic)
