/*
 *  PREFERENCES FOR COMPONENTS
 */



/*  Form
   ---------------------------------------- */
$select-height: 24px
$select-padding-tb: 2px
$select-padding-lr: 1em

$select-border-color: $light-gray
$select-background: $white
$select-font-color: $black

$select-arrow-right-position: 5px
$select-arrow-font-family: $icon-font-family
$select-arrow-font-size: 12px
$select-arrow-color: $accent-color
$select-arrow-content: $arrow_carrot-2down

$select-radius: $radius/2



/*  Modal
   ---------------------------------------- */
$modal-bg-color: $white
$modal-closebutton-top: 2.5rem
$modal-closebutton-size: 5rem
$modal-closebutton-color: $accent-color


/*  Pagination
   ---------------------------------------- */
$pagination-margin: $default-gap
$pagination-padding: $half-gap
$pagination-radius: $radius
$pagination-font-color: $black
$pagination-bg-color: $light-gray
$pagination-font-color--active: $white
$pagination-bg-color--active: $accent-color
$pagination-break-me-padding: 0
$pagination-break-me-radius: 0
$pagination-break-me-font-color: $black
$pagination-break-me-bg-color: transparent

