.p-item-list
    position: relative
    min-height: calc_height(2)

.p-items
    +clearfix

.p-items--state_loading,
.p-items--state_error
    position: absolute
    z-index: $index--p-items
    top: 0
    left: 0
    width: 100%
    height: 100%

    background: $white

.p-items--state_loading i
    $icon-size: 5rem
    +spin

    z-index: $index--p-items-loading_icon
    margin: $horizontal-span auto 0

    +block_icon($icon-item-loading, $icon-size)
        color: $accent-color

.p-items--state_error p
    font-size: 2rem

.p-item
    +gallery(3 of 12)
    margin-top: $vertical-span
    margin-bottom: $vertical-span
    border-top: 3px double $black
    border-bottom: 1px solid $black

    +susy-breakpoint($screen--tablet, 12)
        +gallery(6)
    +susy-breakpoint($screen--smartphone, 12)
        width: 100%
        &:nth-child(n)
            margin-right: 0
            margin-left: 0

    a
        text-decoration: none

.p-item__image
    +image-container
    position: relative
    z-index: $index--p-item-image
    width: 100%
    height: auto

$item-caption-height: 3rem
$item-action-button-size: 2rem

.p-item__caption
    @extend %u-ul-reset
    height: $item-caption-height
    margin: $half-gap
    font-size: 0

    li
        float: left
        margin-left: gutter(7)
        line-height: $item-caption-height
        font-size: $body-font-size

        &:first-child
            margin-left: 0

.p-item__price, .p-item__title
    width: span(5 of 7)
    text-align: left

%p-item__action
    width: span(1 of 7)
    text-align: center

    a
        +block-icon-with-height("", $item-action-button-size, $item-caption-height)

%p-item__action--is_inactive
    a
        &:after
            color: $gray

%p-item__action--is_active
    a
        &:after
            color: $accent-color

.p-item__like
    @extend %p-item__action
    @extend %p-item__action--is_inactive
    a
        &:after
            content: $icon-item-like

.p-item__search
    @extend %p-item__action
    @extend %p-item__action--is_inactive
    a
        &:after
            content: $icon-item-search

.p-item__purchase
    @extend %p-item__action
    @extend %p-item__action--is_inactive
    a
        &:after
            content: $icon-item-purchase

.p-item__delete
    @extend %p-item__action
    @extend %p-item__action--is_inactive
    a
        &:after
            content: $icon-item-delete

.p-item__like--is_liked
    @extend .p-item__like
    @extend %p-item__action--is_active

.p-item__like--is_purchased
    @extend .p-item__purchase
    @extend %p-item__action--is_active
