/*
 *  ITEM DETAIL
 *    - Preference
 *    - Utility
 *    - Definition
 *
 *    * Dependencies
 *        - foundation/variables
 *        - foundation/utility
 */



.p-item-detail
    +container

.p-item-detail__image
    +span(6 of 12)
    +susy-breakpoint($screen--smartphone-tablet, 12)
        +span(12 last)
    margin: 0 0 $vertical-span 0

.p-item-detail__content
    +span(6 of 12 last)
    +susy-breakpoint($screen--smartphone-tablet, 12)
        +span(12 last)

.p-item-detail__table
    width: 100%
    margin: 0 0 $vertical-span 0
    font-family: $info-font-family

    caption
        display: none

    tr
        border-bottom: 1px solid $light-gray

        &:first-child
            border-top: 3px double $black
        &:last-child
            border-bottom: 1px solid $black

    th, td
        padding: $half-gap

    th
        width: 100px
        text-align: left
