=items-container()
    position: relative

.p-items
    +clearfix

.p-items--state_loading
    position: absolute
    z-index: 100
    top: 0
    left: 0
    width: 100%
    height: 100%

    background: $white

    i
        $icon-size: 5rem
        +spin

        z-index: 101
        margin: $horizontal-span auto 0

        +block_icon($icon_loading, $icon-size)
            color: $accent-color

.p-item
    +gallery(3 of 12)
    margin-top: $vertical-span
    margin-bottom: $vertical-span
    border-top: 3px double $black
    border-bottom: 1px solid $black
    text-decoration: none

.p-item__image
    +image-container
    position: relative
    z-index: 1
    width: 100%
    height: auto

.p-item__caption
    dt
        color: $accent-color

