.p-result__header
    +clearfix
    margin: 0 0 $vertical-span

.p-result__title
    +span(6 of 12)
    margin: 0
    // height: 25px
    // line-height: 25px

    span
        font-size: 75%
        color: $accent-color
        cursor: pointer

.p-result__sort-order
    +span(last 6 of 12)
    text-align: right

    select
        width: span(2)
        padding: 0 $horizontal-span

.p-result__filters
    $td-height: 50px
    +slide($td-height*3+$vertical-span*2, $vertical-span, $horizontal-span)

    padding: $default-padding
    +border-radius($radius)

    background: $light-gray
    overflow: hidden

    table
        width: 100%

    caption
        display: none

    tr
        height: $td-height

        &:last-child
            text-align: right

    td, th
        vertical-align: middle

    th
        width: span(2 of 12)
        text-align: left

    td
        width: span(10 of 12)

    input
        padding: $half-padding

        &[type=submit]
            padding: $default-padding
            background: $accent-color
            color: $white


.p-result__list
    +items-container

