.p-result__header
    +clearfix
    margin: 0 0 $vertical-span

.p-result__title
    +span(6 of 12)
    margin: 0
    // height: 25px
    // line-height: 25px

    span
        font-size: 75%
        color: $accent-color
        cursor: pointer

.p-result__sort-order
    +span(last 6 of 12)
    text-align: right

    select
        width: span(2)
        padding: 0 $horizontal-span

.p-result__filters
    $td-height: 50px
    $row-num: 4
    +slide($td-height*$row-num+$vertical-span*2, $vertical-span, $horizontal-span)

    padding: $default-padding
    +border-radius($radius)

    background: $light-gray
    overflow-y: hidden

    table
        width: 100%

    caption
        display: none

    tr
        height: $td-height

        &:last-child
            text-align: right

    td, th
        vertical-align: middle
        white-space: nowrap

    th
        width: span(1 of 7)
        text-align: left

    td
        width: span(6 of 7)

    input, button
        padding: $half-padding

    input
        max-width: calc_width(3)

        &[type=submit], &[type=reset]
            border: none

            background: $white
            color: $black

            &:last-child
                margin: 0 0 0 $horizontal-span


.p-result__list
    +items-container

