/*
 *  USER ITEM DETAIL
 *
 *    * Dependencies
 *        - foundation/variables
 *        - foundation/utility
 *        - foundation/base
 *        - utility/list
 *        - component/icon
 *        - project/item-detail
 *        - project/button
 */



.p-user-item-detail
    @extend .p-item-detail

.p-user-item-detail__image
    +span(2 of 3)
    +susy-breakpoint($screen--smartphone-tablet, 3)
        +span(3 last)
    margin: 0 0 $vertical-span 0

.p-user-item-detail__content
    +span(1 of 3 last)
    +susy-breakpoint($screen--smartphone-tablet, 3)
        +span(3 last)

.p-user-item-detail__actions
    @extend %u-ul-reset
    +container

.p-user-item-detail__action
    +span(1 of 1 last)
    margin-bottom: calc_height(1)
    +breakpoint($screen--smartphone-tablet)
        margin-bottom: $vertical-span

    a
        @extend %p-button
        width: 100%
        padding: $default-gap
        text-align: center

.p-user-item-detail__action--weak
    +span(1 of 2)
    margin: $vertical-span 0

    a
        @extend %button
        width: 100%
        padding: $half-gap
        border: none
        background: $black
        color: $white

    &:last-child
        +span(1 of 2 last)

.p-user-item-detail__edit-icon
    +icon($icon-edit, $icon-font-size)

.p-user-item-detail__delete-icon
    +icon($icon-item-delete, $icon-font-size)