{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}List{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
  {% include "header.html" with compact=True %}
{% endblock header %}

{% block content %}
<div class="p-item-detail">
  <div class="p-item-detail__image">
    <img src="{{ item.image.url }}" />
  </div>
  <div class="p-item-detail__content">
    <table class="p-item-detail__table">
      <caption>Item Details</caption>
      <tbody>
        <tr>
          <th>カテゴリー</th>
          <td>{{ item.category|stringformat:'r' }}</td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>{{ item.brand }}</td>
        </tr>
        <tr>
          <th>サイズ</th>
          <td>{{ item.size }}</td>
        </tr>
        <tr>
          <th>ランク</th>
          <td>{{ item.rank }}</td>
        </tr>
        <tr>
          <th>価格</th>
          <td>{{ item.price }}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{ item.details|linebreaksbr }}</td>
        </tr>
        <tr>
          <th>出品者</th>
          <td>{{ this.props.item.exhibiter }}</td>
        </tr>
        <tr>
          <th>配送日</th>
          <td>{{ this.props.item.delivery_days }}</td>
        </tr>
        <tr>
          <th>配送業者</th>
          <td>{{ this.props.item.delivery_service }}</td>
        </tr>
        <tr>
          <th>発送元</th>
          <td>{{ this.props.item.delivery_source }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
