{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ item.brand }} | {{ site.name }}{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
  {% include "includes/header.html" with compact=True %}
{% endblock header %}

{% block breadcrumbs %}
  {% include "shop/includes/breadcrumbs-detail.html" %}
{% endblock %}

{% block content %}
  <div class="p-item-detail">
    <div class="p-item-detail__image">
      <img src="{{ item.image.url }}" />
    </div>
    <div class="p-item-detail__content">
      <table class="p-item-detail__table">
        <caption>Item Details</caption>
        <tbody>
          <tr>
            <th>{% trans 'Category' %}</th>
            <td>{{ item.category|stringformat:'r' }}</td>
          </tr>
          <tr>
            <th>{% trans 'Brand' %}</th>
            <td>{{ item.brand }}</td>
          </tr>
          <tr>
            <th>{% trans 'Size' %}</th>
            <td>{{ item.size }}</td>
          </tr>
          <tr>
            <th>{% trans 'Price' %}</th>
            <td>{{ item.price }}</td>
          </tr>
          <tr>
            <th>{% trans 'Rank' %}</th>
            <td>{{ item.rank }}</td>
          </tr>
          <tr>
            <th>{% trans 'Delivery source' %}</th>
            <td>{{ item.delivery_source }}</td>
          </tr>
          <tr>
            <th>{% trans 'Delivery service' %}</th>
            <td>{{ item.delivery_service }}</td>
          </tr>
          <tr>
            <th>{% trans 'Delivery days' %}</th>
            <td>{{ item.delivery_days }}</td>
          </tr>
          <tr>
            <th>{% trans 'Exhibiter' %}</th>
            <td>{{ item.exhibiter }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ item.details|linebreaksbr }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
