{% load filters %}
{% for field in form %}
  <tr>
    {% if field.field.widget|is_checkbox %}
      <td colspan="2">
        <div class="p-formset__checkbox">
          {{ field }}　{{ field.label_tag }}
        </div>
        {% include "includes/field_messages.html" %}
      </td>
    {% else %}
      <th>{{ field.label_tag }}</th>
      <td>
        {% if field.field.widget|is_select %}
          <div class="p-formset__select">
            <label class="c-select">{{ field }}</label>
          </div>
        {% elif field.field.widget|is_file %}
          <div class="p-formset__file">
            {{ field }}
          </div>
        {% elif field.field.widget|is_date_dropdown %}
          <div class="p-formset__date">
            {{ field }}
          </div>
        {% else %}
          <div class="p-formset__input">
            {{ field }}
          </div>
        {% endif %}
        </div>
        {% include "includes/field_messages.html" %}
      </td>
    {% endif %}
  </tr>
{% endfor %}