{% load i18n %}

<div id="js-item-delete-modal" class="c-modal">
  <div class="c-modal__content">
    <div class="p-confirm">
      <div class="p-confirm__header">
        <div class="p-confirm__close">
          <a href="#" title="{% trans 'Close' %}" class="js-modal--close">Close<i class="p-confirm__close-icon"></i></a>
        </div>
      </div>
      <div class="p-confirm__content">
        {% block modal_content %}{% endblock modal_content %}
      </div>
    </div>
  </div>
</div>

<div id="js-modal-overlay" class="c-modal__overlay"></div>