{% load i18n %}

<nav class="p-nav">
  <div class="p-nav__header">
    <div class="p-nav__close">
      <a href="#" title="{% trans 'Close' %}" class="js-sidebar--close">Close<i class="p-nav__close-icon"></i></a>
    </div>
  </div>
  <ul class="p-nav__list">
    <li><a href="{% url 'pages:dashboard' %}" title="{% trans 'Dashboard' %}">{% trans 'Dashboard' %}</a></li>
    <li><a href="{% url 'wardrobe:index' %}" title="{% trans 'Wardrobe' %}">{% trans 'Wardrobe' %}</a></li>
    <li class="p-nav__li--sub"><a href="{% url 'wardrobe:upload' %}" title="{% trans 'Upload your item' %}">{% trans 'Upload your item' %}</a></li>
    <li><a href="{% url 'shop:index' %}" title="{% trans 'Shop' %}">{% trans 'Shop' %}</a></li>
    <li class="p-nav__li--sub"><a href="{% url 'shop:likes' %}" title="{% trans 'Likes' %}">{% trans 'Likes' %}</a></li>
    <li class="p-nav__li--sub"><a href="{% url 'shop:purchases' %}" title="{% trans 'Items you already have' %}">{% trans 'Items you already have' %}</a></li>
    <li><a href="{% url 'accounts:detail' %}" title="{% trans 'Account info' %}">{% trans 'Account' %}</a></li>
    <li class="p-nav__li--sub"><a href="{% url 'auth_logout' %}" title="{% trans 'Log out' %}">{% trans 'Log out' %}</a></li>
  </ul>
</nav>