{% load i18n %}

<nav class="p-st__menu p-st--effect-push">
  <div class="p-st__menu-header">
    <!-- <div class="p-st__menu-title">
      <h1 class="p-st__menu-logo">
        {{ site.name }}
      </h1>
    </div> -->
    <div class="p-st__menu-close">
      <a href="#" title="{% trans 'Close' %}" class="p-st__close">Close<i class="p-st__close-icon"></i></a>
    </div>
  </div>
  <ul class="p-st__menu-list">
    <li><a href="{% url 'pages:dashboard' %}" title="{% trans 'Dashboard' %}">{% trans 'Dashboard' %}</a></li>
    <li><a href="{% url 'wardrobe:index' %}" title="{% trans 'Wardrobe' %}">{% trans 'Wardrobe' %}</a></li>
    <li class="p-st__menu-list-item--sub"><a href="{% url 'wardrobe:upload' %}" title="{% trans 'Upload your item' %}">{% trans 'Upload your item' %}</a></li>
    <li><a href="{% url 'accounts:detail' %}" title="{% trans 'Account info' %}">{% trans 'Account' %}</a></li>
    <li class="p-st__menu-list-item--sub"><a href="{% url 'auth_logout' %}" title="{% trans 'Log out' %}">{% trans 'Log out' %}</a></li>
  </ul>
</nav>