
=logo($header-height)
    padding: 0 0 0 (calc_logo_width($header-height) + $horizontal-span*2)
    background: url(../images/logo.svg) no-repeat
    background-size: calc_logo_width($header-height) auto
    background-position: $horizontal-span 0

.p-header
    margin: calc_height(1) auto

    a
        text-decoration: none

    .p-header__logo
        font-size: 3rem
        line-height: 1em

        height: $header-height
        line-height: $header-height
        +logo($header-height)

    li a
        font-size: 1.5rem
        height: $header-height
        line-height: $header-height

.p-compact-header
    margin: calc_height(1) auto

    .p-header__logo
        font-size: 2rem

        height: $compact-header-height
        line-height: $compact-header-height
        +logo($compact-header-height)

    li a
        font-size: 1.3rem
        height: $compact-header-height
        line-height: $compact-header-height

.p-header__logo
    a, a:hover, a:visited
        color: $black

.p-header__nav
    ul
        list-style-type: none
        text-align: right

    li
        display: inline-block

        a
            display: inline-block
            padding: 0 $horizontal-span

            &:link, &:visited
                color: $black
            &:hover
                color: $gray
