{% extends "base.html" %}
{% load staticfiles %}

{% block title %}List{% endblock title %}

{% block extrahead %}
  <script>
    document.addEventListener("DOMContentLoaded",function(eve){
      var filters = document.querySelector('#search-filters')
        , trigger = document.querySelector('#option-trigger')
      trigger.addEventListener("click", function(eve) {
        filters.classList.toggle("is-open")
      }, false);
    }, false);
  </script>

  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>

  <script src="{% static 'scripts/item.js' %}"></script>
{% endblock extrahead %}

{% block header %}
  {% include "header.html" with compact=True %}
{% endblock header %}

{% block content %}
    <section class="p-result">
      <div class="p-result__header">
        <h2 class="p-result__title">Search Results <span id="option-trigger">[option]</span></h2>
        <div class="p-result__sort-order">
          <select id="sort-order" name="sort-order">
            <option value="price-asc">price(ascending)</option>
            <option value="price-desc">price(descending)</option>
          </select>
        </div>
      </div>
      <div class="p-result__filters" id="search-filters">
        <table>
          <caption>Search option</caption>
          <tbody>
            <tr>
              <th>price</th>
              <td>¥<input type="text" name="" value="" placeholder="----"> ~ ¥<input type="text" name="" value="" placeholder="----"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-result__items" id="item-box">

      </div>
    </section>
{% endblock content %}

{% block footer %}{% endblock footer %}
