/* line 21, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/foundation/_base.sass */
body {
  background: #F9F7F7;
  color: #312F33;
}

/* line 10, ../sass/foundation/_base.sass */
a {
  text-decoration: none;
  color: #89838E;
}

/* line 5, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/foundation/_typography.sass */
html {
  font-size: 62.5%;
}

/* line 4, ../sass/foundation/_typography.sass */
body, input {
  font: normal 1.3rem/1em "Quicksand", sans-serif;
}

/* line 7, ../sass/foundation/_typography.sass */
.header {
  font-family: "Quicksand", sans-serif;
}
/* line 9, ../sass/foundation/_typography.sass */
.header nav li a {
  font-size: 1.5rem;
}
/* line 11, ../sass/foundation/_typography.sass */
.header h1 {
  font-size: 3rem;
  line-height: 1em;
}

/* line 16, ../sass/foundation/_typography.sass */
.compact-header h1 {
  font-size: 2rem;
}
/* line 18, ../sass/foundation/_typography.sass */
.compact-header nav li a {
  font-size: 1.3rem;
}

/* line 2, ../sass/layout/_header.sass */
.l-header {
  overflow: hidden;
  *zoom: 1;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.l-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 6, ../sass/layout/_header.sass */
.l-logo {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

/* line 9, ../sass/layout/_header.sass */
.l-nav {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
/* line 12, ../sass/layout/_header.sass */
.l-nav .l-nav-element {
  display: inline-block;
}

/* line 2, ../sass/layout/_main.sass */
.l-main {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.l-main:after {
  content: " ";
  display: block;
  clear: both;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
/* FONT PATH
 * -------------------------- */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: "ElegantIcons";
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 2, ../sass/object/project/_carousel.sass */
.carousel {
  margin: 0 25px;
}

/* line 5, ../sass/object/project/_carousel.sass */
.carousel-list {
  /* Slider */
  /* Icons */
  /* Arrows */
  /* Dots */
  width: 100%;
}
/* line 37, ../sass/object/project/slick/_theme.sass */
.slick-loading .carousel-list .slick-list {
  background: #fff url('/assets/images/ajax-loader.gif?1462480548') center center no-repeat;
}
/* line 51, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev,
.carousel-list .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 70, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev:hover, .carousel-list .slick-prev:focus,
.carousel-list .slick-next:hover,
.carousel-list .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 75, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev:hover:before, .carousel-list .slick-prev:focus:before,
.carousel-list .slick-next:hover:before,
.carousel-list .slick-next:focus:before {
  opacity: 1;
}
/* line 78, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev.slick-disabled:before,
.carousel-list .slick-next.slick-disabled:before {
  opacity: 0.25;
}
/* line 81, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev:before,
.carousel-list .slick-next:before {
  font-family: "ElegantIcons", sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #89838E;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 90, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev {
  left: -25px;
}
/* line 93, ../sass/object/project/slick/_theme.sass */
[dir="rtl"] .carousel-list .slick-prev {
  left: auto;
  right: -25px;
}
/* line 97, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-prev:before {
  content: "<";
}
/* line 100, ../sass/object/project/slick/_theme.sass */
[dir="rtl"] .carousel-list .slick-prev:before {
  content: "=";
}
/* line 103, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-next {
  right: -25px;
}
/* line 106, ../sass/object/project/slick/_theme.sass */
[dir="rtl"] .carousel-list .slick-next {
  left: -25px;
  right: auto;
}
/* line 110, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-next:before {
  content: "=";
}
/* line 113, ../sass/object/project/slick/_theme.sass */
[dir="rtl"] .carousel-list .slick-next:before {
  content: "<";
}
/* line 118, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
/* line 121, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 131, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 140, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 153, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li button:hover, .carousel-list .slick-dots li button:focus {
  outline: none;
}
/* line 156, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li button:hover:before, .carousel-list .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 159, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "^";
  width: 20px;
  height: 20px;
  font-family: "ElegantIcons", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #89838E;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 175, ../sass/object/project/slick/_theme.sass */
.carousel-list .slick-dots li.slick-active button:before {
  color: #C64B8F;
  opacity: 0.75;
}
/* line 19, ../sass/object/project/_carousel.sass */
.carousel-list .slick-slide {
  margin: 0px 20px;
}
/* line 22, ../sass/object/project/_carousel.sass */
.carousel-list .slick-slide img {
  width: 100%;
}

/* line 1, ../sass/object/project/_form.sass */
.login-form {
  width: 49.15254%;
  margin: 0 auto;
  text-align: right;
}
/* line 6, ../sass/object/project/_form.sass */
.login-form table {
  margin: 0 0 12px;
  width: 100%;
  vertical-align: middle;
}
/* line 12, ../sass/object/project/_form.sass */
.login-form table caption {
  display: none;
}
/* line 15, ../sass/object/project/_form.sass */
.login-form table th {
  width: 31.03448%;
}
/* line 18, ../sass/object/project/_form.sass */
.login-form table td {
  width: 65.51724%;
}
/* line 21, ../sass/object/project/_form.sass */
.login-form table th, .login-form table td {
  height: 36px;
  vertical-align: middle;
  padding: 12px 0;
}
/* line 26, ../sass/object/project/_form.sass */
.login-form input {
  padding: 12px 20px;
  background: transparent;
  border: none;
}
/* line 31, ../sass/object/project/_form.sass */
.login-form input:focus {
  outline: none;
}
/* line 34, ../sass/object/project/_form.sass */
.login-form input[type=text], .login-form input[type=password] {
  width: 100%;
  border-bottom: solid 1px #312F33;
}
/* line 61, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.login-form input[type=text]:-moz-placeholder, .login-form input[type=password]:-moz-placeholder {
  color: #89838E;
}
/* line 64, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.login-form input[type=text]::-moz-placeholder, .login-form input[type=password]::-moz-placeholder {
  color: #89838E;
}
/* line 67, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.login-form input[type=text]:-ms-input-placeholder, .login-form input[type=password]:-ms-input-placeholder {
  color: #89838E;
}
/* line 56, ../../../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.login-form input[type=text]::-webkit-input-placeholder, .login-form input[type=password]::-webkit-input-placeholder {
  color: #89838E;
}
/* line 41, ../sass/object/project/_form.sass */
.login-form input[type=submit] {
  cursor: pointer;
  border: solid 1px #C64B8F;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 7, ../sass/object/project/_header.sass */
.header {
  margin: 36px auto;
}
/* line 10, ../sass/object/project/_header.sass */
.header .logo {
  height: 84px;
  line-height: 84px;
  padding: 0 0 0 123.85455px;
  background: url(../images/logo.svg) no-repeat;
  background-size: 103.85455px auto;
}
/* line 15, ../sass/object/project/_header.sass */
.header li a {
  height: 84px;
  line-height: 84px;
}

/* line 19, ../sass/object/project/_header.sass */
.compact-header {
  margin: 36px auto;
}
/* line 21, ../sass/object/project/_header.sass */
.compact-header .logo {
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 64.50909px;
  background: url(../images/logo.svg) no-repeat;
  background-size: 44.50909px auto;
}
/* line 26, ../sass/object/project/_header.sass */
.compact-header li a {
  height: 36px;
  line-height: 36px;
}

/* line 31, ../sass/object/project/_header.sass */
.logo a, .logo a:hover, .logo a:visited {
  color: #312F33;
}

/* line 35, ../sass/object/project/_header.sass */
.global-navigation ul {
  list-style-type: none;
  text-align: right;
}
/* line 39, ../sass/object/project/_header.sass */
.global-navigation li a {
  display: inline-block;
  padding: 0 20px;
}
/* line 43, ../sass/object/project/_header.sass */
.global-navigation li a:link, .global-navigation li a:visited {
  color: #312F33;
}
/* line 45, ../sass/object/project/_header.sass */
.global-navigation li a:hover {
  color: #89838E;
}

/* No files to import found in object/utility/* */
