{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}Dashboard | {{ site.name }}{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
  {% include "includes/header.html" with compact=True %}
{% endblock header %}

{% block content %}
  <section class="p-search">
    <h2 class="p-search__title">Search</h2>
    <a class="p-search__button" href="{% url 'wardrobe:upload' %}" title="{% trans 'Upload an item' %}">{% trans 'Upload your item' %}</a>
    <a class="p-search__button" href="{% url 'wardrobe:index' %}" title="{% trans 'Pick Item from Wardrobe' %}">{% trans 'Pick item from Wardrobe' %}</a>
  </section>

  <section class="p-showcase">
    <div class="p-showcase__header">
      <h2 class="p-showcase__title">
        <a href="{% url 'shop:index' %}#/?ordering=-updated" title="New arrival">New arrival</a>
      </h2>
    </div>
    <div id="js-dashboard-item" data-request-url="{{ item_request_url }}"></div>
    <div class="p-showcase__footer">
      <p class="c-showall"><a class="c-showall__link" href="{% url 'shop:index' %}#/?ordering=-updated" title="show all"><i class="c-showall__icon--left"></i>show all<i class="c-showall__icon--right"></i></a></p>
    </div>
  </section>

  <section class="p-showcase">
    <div class="p-showcase__header">
      <h2 class="p-showcase__title">
        <a href="{% url 'wardrobe:index' %}" title="Wardrobe">Wardrobe</a>
      </h2>
    </div>
    <div id="js-dashboard-user-item" data-request-url="{{ user_item_request_url }}"></div>
    <div class="p-showcase__footer">
      <p class="c-showall"><a class="c-showall__link" href="{% url 'wardrobe:index' %}" title="show all"><i class="c-showall__icon--left"></i>show all<i class="c-showall__icon--right"></i></a></p>
    </div>
  </section>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block bottom_js_section %}
  {% render_bundle 'entrypoint' %}
{% endblock %}
