{% extends "registration/registration_base_form.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}


{% block form_section_header %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
{% endblock %}
{% block no_form_section_footer %}{% endblock %}

{% block form_title %}Reset password{% endblock %}

{% block form_header %}
{% csrf_token %}
{% endblock %}

{% block form_footer %}
<input type="submit" value="{% trans 'Reset password' %}" />
{% endblock %}


{# This is used by django.contrib.auth #}
