{% extends "registration/registration_base_form.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block breadcrumbs %}
  {% include "registration/includes/breadcrumbs-password-change.html" %}
{% endblock %}

{% block no_form_section_header %}{% endblock %}
{% block no_form_section_footer %}{% endblock %}

{% block form_title %}Change password{% endblock %}

{% block form_header %}
{% csrf_token %}
{% endblock %}

{% block form_footer %}
<input type="submit" value="{% trans 'Change password' %}" />
{% endblock %}


{# This is used by django.contrib.auth #}
