{% extends "registration/registration_base_form.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}


{% block form_section_header %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>
{% endblock %}
{% block no_form_section_footer %}{% endblock %}

{% block form_title %}Confirm password reset{% endblock %}

{% block form_header %}
{% csrf_token %}
{% endblock %}

{% block form_footer %}
<input type="submit" value="{% trans 'Set password' %}" />
{% endblock %}


{# This is used by django.contrib.auth #}
