{% extends "registration/registration_base_form.html" %}
{% load i18n %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}


{% block no_form_section_header %}{% endblock %}
{% block no_form_section_footer %}{% endblock %}

{% block form_title %}Login{% endblock %}

{% block form_header %}
  {% csrf_token %}
{% endblock %}

{% block form_footer %}
  <input type="submit" value="{% trans 'Submit' %}" />
{% endblock %}


{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
